<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="noticecollapse">
    <div id="card-999">
        <div class="card" th:each="notice,iterationStatus : ${notices}">
            <div class="card-header">
                <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-999" th:href="@{'#card-element-'+${notice.id}}" th:text="${notice.title}">Title</a>
            </div>
            <div th:id="@{'card-element-'+${notice.id}}" class="collapse">
                <div class="card-body" th:utext="${notice.message}">Message</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>